/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Blue
COLOR CODE: #1196CC
----------------------------------------- */
@theme-color: #2f2f2f;
@theme-color2: #003399;

@import "parts/loader.less";